extends layout

block content
  a-scene(cursor='rayOrigin: mouse' inspector-plugin-recast  raycaster='objects: .raycastable' )
    a-camera(position='0 2 0')

    a-sky(class="sky" src="https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    
    //- Padrao
    //- a-assets(id="parede" src="https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    //- a-assets(id="teto" src="https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    //- a-assets(id="chao" src="https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    
    //- Floresta
    //- a-assets(id="parede" src="https://media.istockphoto.com/id/1419410282/pt/foto/silent-forest-in-spring-with-beautiful-bright-sun-rays.jpg?s=612x612&w=0&k=20&c=yTaZyQ5oKT945ugabgct5gZob51H-YT6vK4T7dQYFaw=")
    //- a-assets(id="teto" src="https://media.istockphoto.com/id/1317323736/pt/foto/a-view-up-into-the-trees-direction-sky.jpg?s=612x612&w=0&k=20&c=u92MeBnlqTibkSDqZh8J6k5ilRwS0AK9xAYqpO2gf8k=")
    //- a-assets(id="chao" src="https://st.depositphotos.com/2577341/3866/i/950/depositphotos_38662205-stock-photo-grass-texture.jpg")

    //- Espaço
    //- a-assets(id="parede" src="https://media.istockphoto.com/id/1295851454/pt/foto/earth-and-solar-system-planets.jpg?s=612x612&w=0&k=20&c=vlnfDmZhuGHhoMGVP9x2437jZd1kqFZgYQNOd2AJq0s=")
    //- a-assets(id="teto" src="https://media.istockphoto.com/id/481229372/pt/foto/gal%C3%A1xia-espiral-ilustra%C3%A7%C3%A3o-da-via-l%C3%A1ctea.jpg?s=612x612&w=0&k=20&c=0StkiXaTNQ1Xrk6J3vJHNhaq1jG6J9ofLfLP2Yxn10M=")
    //- a-assets(id="chao" src="https://media.istockphoto.com/id/1371476360/pt/foto/planet-earth-globe-view-from-space.jpg?s=612x612&w=0&k=20&c=V1uK8nxs1jvOZhLLaYnaRqZ-8_JuAVJXNimf1R_sYfg=")

    //- Mar 
    //- a-assets(id="parede" src="https://media.istockphoto.com/id/470690382/pt/foto/mundo-subaqu%C3%A1tico-de-corais-e-peixes-tropicais.jpg?s=612x612&w=0&k=20&c=D-KmHEIjnULB8WKssIDpKkqOXlUjJbxv1hCIHWMGVf0=")
    //- a-assets(id="teto" src="https://media.istockphoto.com/id/873965514/pt/foto/robot-inspects-a-sunken-ship-deep-under-water.jpg?s=612x612&w=0&k=20&c=f2r4u9woMdZZa7fHZyN8dWUSAaSHXMoNw98q1Zhkr-o=")
    //- a-assets(id="chao" src="https://media.istockphoto.com/id/467528832/pt/foto/the-rocky-litoral-e-pedras-na-%C3%A1gua.jpg?s=612x612&w=0&k=20&c=WwaqhJGKuQKgxWw5XOoXMXhoeyHTyucSfdhu9v3HUoc=")

    //- Montanha
    //- a-assets(id="parede" src="https://media.istockphoto.com/id/478627080/pt/foto/noite-vista-da-montanha-ama-dablam.jpg?s=612x612&w=0&k=20&c=eg8Fw-8dp5oxujA4VcYwUPdeUiUG_ie0ai1QGuCyqKU=")
    //- a-assets(id="teto" src="https://media.istockphoto.com/id/1397030090/pt/foto/colorful-pastel-sky-with-clouds-at-beautiful-sunset-as-natural-background.jpg?s=612x612&w=0&k=20&c=ZuHFd2Vw6NwM0auIuUhBCwPpdHCi7BQNdg3_0Gsjvqg=")
    //- a-assets(id="chao" src="https://media.istockphoto.com/id/1289863152/pt/foto/white-snow-texture.jpg?s=612x612&w=0&k=20&c=vqnk8vD93dU8bnERu1qAvfsOA3DXavYHxLIUjDOiFZE=")

    //- Paredes
    //- a-plane( class="parede" geometry="primitive: plane; height: 25; width: 25" material="side: double" position='0 12 -12.5' src='https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D' ) 
    //- a-plane( class="parede" geometry="primitive: plane; height: 25; width: 25" material="side: double" position='0 12 12.5' src='https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D' )
    //- a-plane( class="parede" geometry="primitive: plane; height: 25; width: 25" material="side: double" position='12.5 12 0' rotation='0 90 0' src='https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D' )
    //- a-plane( class="parede" geometry="primitive: plane; height: 25; width: 25" material="side: double" position='-12.5 12 0' rotation='0 90 0' src='https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D' )

    //- Teto Chao
    //- a-plane( class="chao" geometry="primitive: plane; height: 25; width: 25" material="side: double" position='0 0 0' rotation='90 0 0' src='https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
    //- a-plane( class="teto" geometry="primitive: plane; height: 25; width: 25" material="side: double" position='0 24.5 0' rotation='90 0 0' src='https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
    
    a-entity(text="value: Aperte nos quadrados com o mouse, para viajar entre os senarios; color: #000000; width: 5; anchor:align" position="-3 3 -5" scale="1.5 1.5 1.5" )
    
    a-plane(geometry="primitive: plane; height: 25; width: 25" material="side: double" position='0 0 0' rotation='90 0 0' opacity='0.5')

    a-plane(geometry="primitive: plane; height: 1; width: 25" material="side: double" position='0 0.5 -12.5' opacity='0.4' ) 
    a-plane(geometry="primitive: plane; height: 1; width: 25" material="side: double" position='0 0.5 12.5' opacity='0.4' )
    a-plane(geometry="primitive: plane; height: 1; width: 25" material="side: double" position='12.5 0.5 0' opacity='0.4' rotation='0 90 0')
    a-plane(geometry="primitive: plane; height: 1; width: 25" material="side: double" position='-12.5 0.5 0' opacity='0.4' rotation='0 90 0' )

    //- Meio
    //- a-cylinder(geometry="primitive: cylinder; height: 3; radius: 2;"  position="0 -12.5 0" scale="2 0.2 2")
    //- a-circle()

    //- Objetos
    a-box(color='red' position='9.5 0.5 0' id='espaco' class='raycastable' mycomponent)
    a-entity(text="value: Espaco; color: #000000; width: 5; anchor:align" position="9 1.2 -0.5" scale="1.5 1.5 1.5" rotation='0 270 0')
    
    a-box(color='red' position='-9.5 0.5 0' id='mar' class='raycastable' mycomponent)
    a-entity(text="value: Mar; color: #000000; width: 5; anchor:align" position="-9 1.2 0.4" scale="1.5 1.5 1.5" rotation='0 90 0')

    a-box(color='red' position='-0.5 0.5 9.5' id='montanha' class='raycastable' mycomponent)
    a-entity(text="value: Montanhas; color: #000000; width: 5; anchor:align" position="0.3 1.2 9" scale="1.5 1.5 1.5" rotation='0 180 0')

    a-box(color='red' position='0 0.5 -9.5' id='floresta' class='raycastable' mycomponent)
    a-entity(text="value: Floresta; color: #000000; width: 5; anchor:align" position="-0.6 1.2 -9" scale="1.5 1.5 1.5" rotation='0 0 0')



//- Apertar ctrl + alt + i 
script(src="https://recast-api.donmccurdy.com/aframe-inspector-plugin-recast.js")
